.cart-page {
  margin: 1rem;
  height: 100vh;
}

.cart-page-title {
  font-size: 2rem;
}
.cart-checkout-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 77vh;
}
.cart-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 85vh;
  margin: 1rem;
  min-width: fill-available;
  min-width: 60vw;
  width: fit-content;
  overflow-y: auto;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none;
  }
}

.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid black 1px;
  border-radius: 0.5rem;
  margin-bottom: 0.8rem;
  min-width: 50vw;
}

.cart-item-title-information-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  width: 100%;
  min-width: 10vw;
}

.cart-item-image {
  min-width: 7rem;
  max-width: 7rem;
  min-height: 7rem;
  max-height: 7rem;
  object-fit: cover;
  margin: 1rem;
  border-radius: 5px;
}
.cart-item-information {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cart-item-title {
  margin: 1rem;
}

.cart-item-price {
  margin-right: 1rem;
  font-size: 1.2rem;
}

.cart-item-quantity-container {
  margin-right: 1rem;
  border: solid 1px;
  border-radius: 5px;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  min-width: 3.5rem;
  align-items: center;
  justify-content: space-between;
}

.cart-item-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.2rem;
  margin: 0.1rem;
}
.cart-item-remove-button {
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media screen and (max-width: 600px) {
    font-size: 0.8rem;
  }
}
.info-card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
}

.info-card {
  border: solid 1px;
  border-radius: 0.5rem;
  margin: 0.5rem;
  min-width: 20rem;
}

.info-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;

  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem;
}

.info-card-list {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.info-card-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
  font-weight: 400;
  font-size: 1.2rem;
}

.info-card-list-amount {
  font-weight: 600;
  font-size: 1.2rem;
}
.info-card-list-item-total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  margin-top: 1rem;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-top: solid 1px;
}
.checkout-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-top: 2rem;
}

.checkout-button {
  border: solid 1px black;
  margin: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  min-width: 15rem;
  min-height: 3rem;
  padding: 0.5rem;
  cursor: pointer;
  background-color: black;
  color: white;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0 2px white inset;

  &:hover {
    box-shadow: inset 0 0 0 4px;
    background-color: hsl(0, 0%, 10%);
  }
  &:active {
    background-color: hsl(0, 0%, 35%);
  }
}
