.cart-page {
  align-items: center;
}

.cart-page-title {
  font-weight: 700;
}

.cart-item-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-color: antiquewhite;
}

.cart-item-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.cart-item {
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
  border-radius: 11px;
  margin: 5px;
  padding: 5px;
  font-size: large;

  &:hover {
    background-color: blanchedalmond;
  }
}

.cart-item-image {
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 10px 30px -12px rgb(0 0 0 / 0.25);
}
.cart-item-information {
  display: flex;
  flex-direction: column;

  margin-left: 10px;
}

.cart-item-title {
  font-weight: 700;
  font-size: larger;
  margin: 0;
}

.cart-item-price {
  color: goldenrod;
}

.cart-item-quantity {
  color: grey;
}
.info-card-container {
  background-color: #5e412f;
  min-width: 400px;
  display: grid;
  align-items: center;
  height: 95%;
  flex-shrink: 0;
  right: 0;
  z-index: 1;
  position: fixed;
  overflow: auto;

  margin: 0;
  padding: 0;
}

.info-card {
  border-radius: 11px;
  background-color: white;
  max-width: 300px;
  margin: 0px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 0px;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.info-card-header {
  font-weight: 600;
  background-color: #f0f0f0;
  margin: 0;
  padding: 5px;
  border-top-right-radius: 11px;
  border-top-left-radius: 11px;
  border-bottom: solid blanchedalmond;
}

.info-card-list {
  background-color: white;
}

.info-card-list-item {
  margin: 15px;
  padding: 15px;
  font-weight: 600;
  background-color: #f0f0f0;
  border-radius: 11px;
}
.checkout-button-container {
  border-bottom-right-radius: 11px;
  border-bottom-left-radius: 11px;
  align-items: center;
  display: flex;
  align-content: center;
  padding: 20px;
  justify-content: space-around;
}

.checkout-button {
  font-family: inherit;
  padding: 0.3em 1em;
  font-weight: 700;
  font-size: 18px;
  border: 2px solid #5e412f;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;

  &:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
    background-color: blanchedalmond;
  }

  &:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }
}
