.hero-page-container {
  max-width: 100vw;
}

.hero-picture-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.hero-background {
  width: 100%;
}

.hero-logo {
  width: 77%;
  z-index: 1;
  left: 10%;
  position: absolute;
  backdrop-filter: blur(3px);
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-backdrop-filter: blur(3px);
  border-radius: 50%;
}
