.wandsAndStaffs {
  background-color: darkorchid;
}

.wandHeader {
  align-items: center;
  position: relative;
  text-align: center;
  color: white;
}

.wandHeaderImage {
  object-fit: contain;
  width: 100%;
  height: auto;
}

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
