.banner {
  display: flex;
  position: sticky;
  width: 100vw;
  top: 0;
  font-weight: 600;
  flex-direction: row;
  align-items: center;
  border: 10px;
  border-bottom: 5px;
  border-color: wheat;
  background-color: white;
  box-shadow: 100px;
  justify-content: space-between;
  padding: 0 1.5rem;
  z-index: 1;
}
.total-amount {
  background-color: blanchedalmond;
  border-radius: 50%;
  min-width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.headerLogo {
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
  max-width: 75px;
  max-height: 75px;
}
.utilsLogo {
  max-width: 35px;
  max-height: 35px;
}

.bannerNavigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: static;
}
.navigationItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  color: #2f292b;
  text-decoration: none;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #2f292b;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  @media (max-width: 768px) {
    font-size: 0px;
  }
}
.navImages {
  max-width: 40px;
  max-height: 40px;
}
.bannerUtilities {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: static;
}
.utilitiesItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: static;
  padding: 7px;

  @media (max-width: 768px) {
    font-size: 0px;
  }
}
