.checkout-page {
  min-width: 100vw;
  min-height: 80vh;
}

.checkout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-color: antiquewhite;
  max-width: 500px;
  padding: 50px;
  margin-top: 100px;
  background-color: #f0f0f0;
  border-radius: 11px;
}

.checkout-input-list-item {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.checkout-input {
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
  border-radius: 11px;
  margin: 5px;
  padding: 5px;
  font-size: large;

  &:hover {
    background-color: blanchedalmond;
  }
}

.checkout-button {
  font-family: inherit;
  padding: 0.3em 1em;
  font-weight: 700;
  font-size: 18px;
  border: 2px solid #5e412f;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;

  &:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
    background-color: blanchedalmond;
  }

  &:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }
}

.checkout-button-container {
  border-bottom-right-radius: 11px;
  border-bottom-left-radius: 11px;
  align-items: center;
  display: flex;
  align-content: center;
  padding: 20px;
  justify-content: space-around;
}
