.container {
  background-color: white;
  padding: 30px;
  max-width: 80vw;
  min-width: 80%;
  min-height: 80%;
  margin: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 10px;
  border-bottom: 5px;
  border-color: wheat;
  box-sizing: none;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.buttonContainer {
  color: #5e412f;
}

.title {
  font-weight: 700;
  min-width: 200px;
  text-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  padding: 30px;
  font-size: large;
}

.type {
  color: black;
}

.price {
  color: goldenrod;
  font-size: x-large;
  font-weight: 700;
}

.input {
  align-items: center;
  max-width: 55px;
  font-size: 18px;
  padding: 0.3em 1em;
  border-radius: 0.4em;
  font-weight: 700;
  border: 2px solid #5e412f;
  box-shadow: 0.1em 0.1em;
}

.button {
  padding: 0.3em 1em;
  max-width: 55px;
  font-weight: 700;
  font-size: 18px;
  border: 2px solid #5e412f;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;

  &:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
    background-color: blanchedalmond;
  }

  &:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }
}

.addToBag {
  font-family: inherit;
  min-width: 150px;
  padding: 0.3em 1em;
  font-weight: 700;
  font-size: 18px;
  border: 2px solid #5e412f;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;

  &:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
    background-color: blanchedalmond;
  }

  &:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }
}
